<ion-view view-title="欢迎加入" id="logout">

  <div class="bar bar-header bar-positive">

    <a class="back-button" ng-click="myGoBack()"><i class="ion-chevron-left"></i>返回</a>
    <h1 class="title">个人信息</h1>

  </div>
  <ion-content scroll="false">
    <div class="content">
      <div class="info">
        <div class="avatar">
        <img src="{{user.avatar}}">
        </div>
        <div class="account">
          <h3>{{user.username}}</h3>
          {{user.email}}
        </div>
      </div>
      <div class="logoutArea">
        <button class="button button-block" type="button" ng-click="logout()">退出</button>
      </div>
    </div>
  </ion-content>
</ion-view>
