<!--导航框架之模板视图-->
<ion-view view-title="欢迎加入" id="subCategory">

    <div class="bar bar-header bar-positive">
      <a class="back-button" ng-click="myGoBack()"><i class="ion-chevron-left"></i>返回</a>
      <h1 class="title">中正舆情管家</h1>
      <a class="button" href="#logout"><i class="ion-person"></i></a>
    </div>
  <ion-content>
    <div class="content">
      <ul>
   <!--   <li class="icon" ng-repeat="category in categorys[catid]['sub'] track by $index" ng-if="categorys[catid]['sub'].length>0">
        <a href="#list/{{category.catid}}" >
          <img src="img/subCategory.jpg">
          <span>{{category.name}}</span>
        </a>
      </li>-->
           <li class="icon" ng-repeat="category in categorys track by $index" >
        <a href="#list/{{category.catid}}" >
          <img src="img/subCategory.png">
          <span>
            {{category.name}}
            <i ng-if="category.unread_count>0" class="read">({{category.unread_count}})</i>
          </span>

        </a>
      </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
