/* Empty. Add your own CSS if you like */
/*---------------------------------------------------login-----------------------------------------------------------------------*/
#login{
  background: url(../img/login.jpg) 0 0 no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
}
#login .form{
  padding-top: 68%;
  padding-left: 10%;
  padding-right: 10%;
}
#login .form input{

}
#login .list:nth-child(1) label,#login .list:nth-child(2) label{
  padding: 5px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius: 10px;
  background-color: #fff;
}
#login .list:nth-child(3){
  margin: 0px;
}
#login .list:nth-child(3) .item-checkbox{
  left: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#login .list{
  background-color: transparent;
}
#login .form .item-checkbox{
  background-color: transparent;
  border-color: transparent;
}
/*---------------------------------------------------------home------------------------------------------------------------------*/
#home{
  width: 100%;
  height: 100%;
}
#home .bar-header .button{
  width: 35px;
  height: 35px;
  border-radius: 100px;
 border-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
}
#home .bar-header .button i{
font-size: 25px;
}
#home .content{
  top:64px
}
#home .icon{
  width: 50%;
  height: 200px;
  float: left;
  border-right: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  text-align: center;
  list-style: none;
}
#home .icon i{
  position: absolute;
  left: 38%;
  top: 0.7em;
  color: #fff;
}
#home .icon a{
  display: block;
  height: 200px;
}
/*----------------------------------logout------------------------------------------------*/
#logout{
  width: 100%;
  height: 100%;
}
#logout .content{
top:70px
}
#logout .info{
  border: 1px solid #BCBCBC;
  background-color: #F9F9F9;
  height: 60px;
}
#logout .logoutArea .button{
  border: 1px solid #BCBCBC;
  background-color: #F9F9F9;
  border-radius:0px;
}
/*---------------------------------------------------------subCategory------------------------------------------------------------------*/
#subCategory{
  width: 100%;
  height: 100%;
}
#subCategory .bar-header .button{
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
}
#subCategory .bar-header .button i{
  font-size: 25px;
}
#subCategory .bar-header .back-button{
  color: #fff;
  font-size: 19px;
}
#subCategory .bar-header .back-button i{
  padding-right: 5px;
}
#subCategory .content{
  top:80px
}
#subCategory  li{
  list-style: none;
  border-bottom: 1px solid #BCBCBC;
  padding: 10px;
}
#subCategory li a{
  display: block;
}
