/* Empty. Add your own CSS if you like */
body{
  font-family: "微软雅黑";
}
a,h1,button,h2,h3{
  font-family: "微软雅黑";
}
.bar-header .button{
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
}
.bar-header h1{
  line-height: 30px;
}
.bar-header .button i{
  font-size: 25px;
}
.bar-header .back-button{
  color: #fff;
  font-size: 19px;
  z-index: 999;
  line-height: 35px;
}
.bar-header .back-button i{
  padding-right: 5px;
}
.read{
  color: red;
}
/*---------------------------------------------------login-----------------------------------------------------------------------*/
#login{
  background: url(../img/login.jpg) 0 0 no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
}
#login .form{
  padding-top: 68%;
  padding-left: 10%;
  padding-right: 10%;
}
#login .form input{

}
#login .list:nth-child(1) label,#login .list:nth-child(2) label{
  padding: 5px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius: 10px;
  background-color: #fff;
}
#login .list:nth-child(3){
  margin: 0px;
}
#login .list:nth-child(3) .item-checkbox{
  left: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#login .list{
  background-color: transparent;
}
#login .form .item-checkbox{
  background-color: transparent;
  border-color: transparent;
}
/*---------------------------------------------------------home------------------------------------------------------------------*/
#home{
  width: 100%;
  height: 100%;
}
#home .content{
  top:54px
}
#home .icon{
  width: 50%;
  height: 200px;
  float: left;
  border-right: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  text-align: center;
  list-style: none;
}
#home .icon i{
  position: relative;
  left: 28px;
  top: 27px;
  color: #fff;
}
#home .icon a{
  display: block;
  height: 200px;
}
/*----------------------------------logout------------------------------------------------*/
#logout{
  width: 100%;
  height: 100%;
}
#logout .content{
top:80px
}
#logout .info{
  border: 1px solid #BCBCBC;
  background-color: #F9F9F9;
  padding: 20px;
  height: 90px;
  line-height: 85px;
}
#logout .info .account,#logout .info .avatar{
  float: left;
}
#logout .info .avatar img{
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  width: 56px;
}
#logout .info .account{
  line-height: 20px;
  padding-left: 20px;
}
#logout .info .account h3{
  color:#69A8D9 ;
}
#logout .logoutArea .button{
  border: 1px solid #BCBCBC;
  background-color: #F9F9F9;
  border-radius:0px;
}
/*---------------------------------------------------------subCategory------------------------------------------------------------------*/
#subCategory{
  width: 100%;
  height: 100%;
}
#subCategory .bar-header .back-button{
  color: #fff;
  font-size: 19px;
  z-index: 999;
}
#subCategory .bar-header .back-button i{
  padding-right: 5px;
}
#subCategory .content{
  top:55px
}
#subCategory  li{
  list-style: none;
  border-bottom: 1px solid #BCBCBC;
  padding: 10px;
}
#subCategory ul li a{
  display: inline-block;
  width: 100%;
}
#subCategory li > a {
  font-size: 20px;
  vertical-align: middle;
  text-decoration: initial;
}
#subCategory li > a > img {
  vertical-align: middle;
}
#subCategory .scroll-bar{
  display: none;
}
/*---------------------------------------------------------list------------------------------------------------------------------*/
#list{
  width: 100%;
  height: 100%;
}

#list .content{
  top:64px
}
#list .content li{
  border-bottom: 1px solid #E0E0E0 ;
}
#list .content li a div{
  float: left;
}
#list .content li a{
  padding: 15px;
  display: inline-block;

}
#list .content li .icon{
  padding-right: 30px;
  font-size: 35px;
  padding-top: 10px;
}
#list .content .gray{
  color: #B0B0B0;
}
#list .content li h3{
  color: #387ef5;
}
#list .content li span{
  color: #D9D9D9;
}
#list .content .more{
  border-bottom: 1px solid #C9C9C9;
  border-top: 1px solid #C9C9C9;
  background-color: #DCDCDC;
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#list .content .list_none{
 /* background-color: #DCDCDC;
  border-bottom: 1px solid #C9C9C9;
  border-top: 1px solid #C9C9C9;*/
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-bottom: none ;
}
#list .scroll-bar{
  display: none;
}
  /*---------------------------------------------------------view------------------------------------------------------------------*/
#view{
  width: 100%;
  height: 100%;
}

#view .content{
  top:44px;
  width: 100%;
  height: 100%;
}
#view .content img{
  width: 100%;
  height:100%;
}
#view .content .title{
  background-color: #ECECEC;
  border-bottom: 1px solid #DBDBDB;
  height: 75px;
  margin-bottom: 10px;
}
#view .content .title span{
  float: right;
  font-size: 10px;
  line-height: 15px;
  color: #A2A2A2;
  padding-right: 15px;
}
#view .content .title h1{
  float: left;
  line-height: 35px;
  color: #43A1E7;
  font-size: 22px;
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
}
#view .content .container{
  padding: 15px;
}
#view .content .dzz-attach-icon{
  width: 15px;
}
#view .content td,#view .content  th{
  background: white;
  padding: 5px 10px;
  border: 1px solid #DDD;
}
